.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .formContainer {
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .headerContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .headerImage {
    width: 200px;
    height: 200px;
  }
  
  .boxContent {
    margin-bottom: 20px;
  }
  
  .inputContainer {
    position: relative;
  }
  
  .input {
    width: 100%;
    padding: 8px; /* Decreased padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Decreased font size */
    box-sizing: border-box;
}
  
  .showPasswordButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .forgotPasswordButton,
  .loginButton {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .forgotPasswordButton:hover,
  .loginButton:hover {
    background-color: #333;
  }
  
  .signupTopic {
    text-align: center;
    font-size: 16px;
  }
  
  .signupLink {
    color: blue;
    text-decoration: none;
  }
  
  .signupLink:hover {
    text-decoration: underline;
  }
  